<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Protocolo REambar - ATIVADO</title>
  <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.2/dist/terminal.min.css" />
  <style>
    body { 
      --primary-color: #50fa7b;
      --background-color: #1a1a1a;
      color: #f0f0f0;
    }
    body p, body h2, body h3 { 
        color: #f0f0f0;
    }
    
    h1 {
        color: var(--primary-color) !important;
    }
    pre code {
        color: var(--primary-color) !important; 
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 style="color: #50fa7b;">PROTOCOLO REambar ATIVADO</h1>
    <p>O sistema de segurança foi reestabelecido.</p>
    <p>O código a seguir serve como confirmação de ativação para a Central de Comando:</p>
    <p style="color: #02e63b;">{Guardian-Fl4g0f1c1n4}</p>
  </div>
</body>
</html>